@import url(https://fonts.bunny.net/css?family=quicksand:300,400,500,600,700);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-shadow-xl {
		text-shadow: 1px 1px 3px rgb(0 0 0 / 29%), 2px 4px 7px rgb(73 64 125 / 35%);
	}
}
